PORT=3000
NODE_ENV=development

MONGO_URI= ADICIONE AQUI 

JWT_SECRET=pm3bpm_sistema_controle_processos_2025_chave_secreta
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=SEU_CLIENT_ID_AQUI.apps.googleusercontent.com
GOOGLE_ALLOWED_DOMAIN=pm.ro.gov.br

CORS_ORIGINS= ADICIONE AQUI 